<div class="dog">

  <h1>It's a dog</h1>

  <h3><%= @breed.name.humanize %></h3>

  <%= image_tag @breed.pic_url %>
  <br /><br />

  <%= button_to 'Random', breeds_path(name: 'random'), method: :get %>  
  
  <%= form_tag(breeds_path, method: :get) do -%>
  <p>Want to see picture of your favourite breed? Select it below and click 'Show'</p>
    <%= select_tag "name", options_from_collection_for_select(@breeds, :to_s, :to_s, params[:name]) %>
    <br /><br />
    <div><%= submit_tag 'Show' %></div>
  <% end -%>
  
</div>
